body {
  background: rgb(24, 5, 43);
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  border: 2px solid black;
  margin-top: 20%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  flex-basis: 50%;
  transition: 0.5s all ease-in-out;
}

h1:hover {
  font-weight: 700;
  color: white;
  background-color: blue;
}

body {
  background-image: url(images/night3.jpg);
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  margin: 0%;
}

.new {
  flex-basis: 50%;
  background-color: rgb(221, 235, 31);
  margin: auto 500px;
  transition: 1s all;
}

h2 {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  color: rgb(192, 7, 7);
  text-align: center;
  transition: 0.5s all linear;
}

.new:hover {
  background-color: orange;
  border-radius: 50%;
}

h2:hover {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
